*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    width: 100%;
    min-height: 100vh;
    background-color: #020202;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line
{
    font-size: 1.4rem;
    margin-bottom: .4rem;
    color: #fff;
}